<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">From</Data></Cell>
        <Cell><Data ss:Type="String">To</Data></Cell>
        <Cell><Data ss:Type="String">Rate</Data></Cell>
      </Row>
    <% @member_rates.each do |m| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= User.find(m.from_id).account %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= User.find(m.to_id).account %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= Rate.find(m.rate_id).stars %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>