<h2>查詢 <span>班級分組</span></h2>

<%= form_for @group, :url => {:action => "view_class"} do |f| %>
	<p class="inline">選擇班級: &emsp;<%= f.select :school_class_id, SchoolClass.all.map{ |c| [c.name, c.id] }, :prompt => "請選擇" %></p>
	<div class="actions">&emsp;<%= f.submit '查詢' %></div>
<% end %>

