<h2><%= @course.name %></h2>

<ul class="categories">
	<% @tasks.each do |task| %>
		<% if Group.find_by_task_id(task.id) %>
			<li>
			<span>
				<%= link_to task.title, :controller => 'tasks', :action => 'view_group', :id => task.id %>&nbsp;&nbsp;
			</span>
			</li>
		<% end %>
	<% end %>
</ul>