<h2><%= @group.school_class.name %> <span><%= @group.course.name %></span></h2>

<div>
	分組模式: &nbsp; 
	<% if @group.mode != nil %>
		<%= @group.mode %>&nbsp;模式
	<% else %>
		該堂課尚未選擇分組模式
	<% end %>
</div>

<br><br><br>
<%= link_to "回上一頁", viewClass_path(:sc_id => @group.school_class_id) %>

